<h3>Task: Counter</h3>
Things to do
<ul>
    <li>Two components for incrementing and decrementing value: <code>counter</code> and <code>progress-counter</code> have the same logic and styles, but the way how they are presenting the value is different. Extract the logic so that the result can be presented in various ways in the future. Try to use the most flexible Angular mechanism.</li>
    <li>Currently counter value is a variable inside the component. Use store pattern to manage the value and make it injectable everywhere in the application.</li>
    <li>The last value of the counter needs to be restored when application is opened once again.</li>
</ul>
<counter>

</counter>
<progress-counter></progress-counter>